*{
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Noto Sans HK', sans-serif;
	overflow-x: hidden;
}

/* ------------------------------------------------------- HOME PAGE---------------------------------------------------------------------------- */

.login-and-cart{
	border-radius: 0px;
	background-color: #313131;
}

.login-and-cart a{
	color: white;
	font-size: 14px;
}

.login-and-cart a:hover{
	text-decoration: none;
	color: #D5D5D5;
}

.header{
	width: 100%;
	z-index: 9999999;
}

.header .my-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 80%;
	margin: auto;
}

.header .my-container img{
	width: 150px;
}


.header .nav-bar ul{
	list-style: none;
	display: flex;
	margin-top: 22px;
}

.header .nav-bar li {
	margin: 0px 15px;
}

.header .nav-bar li a{
	color: #4D4D4D;
	text-transform: uppercase;
	font-size: 16px;
	
}

.drop-down-for-our-watches .theroma{
	display: flex;
	justify-content: space-around;
	border-top: 1px solid #999999;
}


.header .nav-bar li a:hover{
	color: black;
	text-decoration: none;
	transition: 0.4s;
}

.header .nav-bar .our-watches{
	height: 50px;
}


.header .nav-bar .our-watches a{
	position: relative;
}


.header .nav-bar .our-watches:hover .drop-down-for-our-watches{
	opacity: 1;
	visibility: visible;
	z-index: 100;
}

.header .nav-bar .drop-down-for-our-watches{
	position: absolute;
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
	height: 250px;
	margin-top: 30px;
	opacity: 0;
	visibility: hidden;
	transition: 0.4s ease-out;
	background-color: white;
}

.drop-down-for-our-watches .theroma .theroma-drop ul{
	display: flex;
	flex-wrap: wrap;
}

.drop-down-for-our-watches .theroma .theroma-drop a{
	font-size: 13px;
	text-transform: capitalize;
}

.drop-down-for-our-watches h6{
	display: block;
	margin: 10px 34px;
	padding-bottom: 10px;

}

.nav-bar-responsive{
	display: none;
}

.nav-bar-responsive .icon-nav{
	width: 100vw;
	list-style: none;
	display: flex;
	justify-content: space-around;
	background-color: #7E7E7E;
	opacity: 1;
	transition: 0.4s;
	z-index: 999999;
}

.nav-bar-responsive .icon-nav .fa{
	font-size: 25px;
}

.nav-bar-responsive .bar-drop{
	cursor: pointer;
	margin: 20px 10px;
}

.bar-drop .click-to-drop-list{
	position: relative;
}

.bar-drop .search-product{
	position: relative;
}

.nav-bar-responsive .icon-nav a{
	display: flex;
	color: black;
	margin: 20px 10px;
}

.nav-bar-responsive .icon-nav a:hover{
	text-decoration: none;
}

.drop-list{
	list-style: none;
	position: absolute;
	text-transform: uppercase;
	background-color:#7E7E7E;
	width: 100vw;
	padding: 0px 20px;
	left: 0;
}

.bar-drop .drop-list a:hover{
	text-decoration: none;
	transition: 0.4s;
}

.bar-drop .drop-list .fa{
	float: right;
}

.drop-inside-list{
	list-style: none;
}

.drop-inside-list li{
	background-color: #7E7E7E;
	padding: 10px 10px;
}

#drop-list{
	position: absolute;
	opacity: 0;
	visibility: hidden;
	transform: rotateX(90deg);
	transition: 0.4s;
	left: 0;
	z-index: 5;
}

#drop-list-two{
	position: absolute;
	transform: rotateX(90deg);
	transition: 0.4s;
	left: 0;
	z-index: 5;
}

.respone-search{
	display: flex;
	justify-content: center;
	padding: 10px 0px;
}

.respone-search-box{
	width: 300px;
	height: 35px;
	padding-left: 10px;
	border: none;
	outline: none;
}

.response-search-btn{
	width: 35px;
	height: 35px;
	border: none;
	outline: none;
	background-color: white;
}

.response-search-btn:hover{
	color: white;
	background-color: black;
	transition: 0.4s;
}

.response-search-btn .fa{
	font-size: 16px !important;
}

.show-content-res{
	opacity: 1 !important;
	visibility: visible !important;
	transform: rotateX(0) !important;
	left: 0 !important;
	z-index: 5 !important;
}


.doimau{
	color: white;
	transition: 0.4s;
}

.search-product .fa{
	position: relative;
}

.search-product .search-container{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 18%;
	z-index: 5;
	display: flex;
	opacity: 0;
	visibility: hidden;
	transition: 0.4s ease-out;
}

.search-container .search-box{
	width: 300px;
	height: 40px;
	border: none;
	outline: none;
	padding-left: 10px;
}

.search-container .search-btn{
	width: 40px;
	height: 40px;
	border: none;
	outline: none;
	background-color: white;
}

.search-container .search-btn:hover{
	color: white;
	background-color: black;
	transition: 0.4s ease-out;
}

.search-container .close-search-box{
	position: absolute;
	top: 30%;
	z-index: 5;
}

.show-search-container{
	opacity: 1 !important;
	visibility: visible !important;
}

.background-search-pr{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
	z-index: 4;
	opacity: 0;
	visibility: hidden;
}

.background-search-show{
	opacity: 1;
	visibility: visible;
	position: fixed;
	transition: 0.4s;
}

@media only screen and (max-width: 1200px) {
	.header .my-container{
		width: 100%;
	}

	.header .nav-bar .drop-down-for-our-watches{
		width: 100vw;
	}

	.drop-down-for-our-watches .theroma{
		justify-content: space-between;
	}

}

@media only screen and (max-width: 876px) {
	.header .my-container{
		width: 100%;
	}
		#homepage .header .nav-bar li a{
		font-size: 15px;
		transition: 0.4s;
	}

	.header .my-container {
		justify-content: center;
	}

	.header .nav-bar .drop-down-for-our-watches{
		width: 100vw;
	}

	.drop-down-for-our-watches .theroma{
		justify-content: space-between;
	}
}

@media only screen and (max-width: 768px){
	.header .nav-bar{
		display: none;
	}

	.nav-bar-responsive{
		display: flex;
	}

	.login-and-cart{
		display: none;
	}
}

/* end css header */

#homepage .banner{
	z-index: 0;
	overflow: hidden;
}

#homepage .carousel-inner img {
    width: 100%;
    height: 100%;
}

#homepage .carousel-item{
	width: 100%;
	height: 600px;
	z-index: 1;
}

@media only screen and (max-width: 1200px){

	#homepage .carousel-item{
	    width: 110%;
	    height: 110%;
	}


	#homepage .carousel-inner img {
	    width: 110%;
	    height: 110%;
	}
}

/* end css banner */



.hot-product{
	width: 80vw;
	margin: auto;
	margin-top: 100px;
	padding: 0px 25px;
	overflow-x: hidden;
}

@media only screen and (max-width: 1200px){
	#homepage .hot-product{
		width: 100vw;
	}
}

.hot-product .product-title{
	border-bottom: 1px solid black;
	margin-bottom: 50px;
	text-align: center;
}

.product-title h3{
	display: inline-block;
	width: 220px;
	position: relative;
	top: 25px;
	background-color: white;
}

.product-box{
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.10);
	background: #fff;
	padding: 15px;
	margin-bottom: 30px;
	border: none;
	outline: none;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.product-box a:hover{
	text-decoration: none;
}

.product-box:hover .shop-button{
	opacity: 1;
	visibility: visible;
	transform: rotateX(0deg);
	margin: auto;
}

.product-box:hover .img{
	transform: scale(1.1);
	transition: 0.4s;
}

.hot-product .product-img{
	
}

.hot-product .product-name{
	text-align: center;
	margin-top: 20px;
	color: black;
}

.hot-product .product-price{
	text-align: center;
	color: black;
}

.hot-product .product-price span, .hot-product .product-price s{
	font-size: 17px;
}



.hot-product .shop-button{
	width: 90%;
/* 	padding: 5px 10px; */
	display: block;
	position: absolute;
	top: 65%;
	transform: rotateX(90deg);
	transition: 0.4s ease-out;
	opacity: 0;
	visibility: hidden;
}

.quick-shop-res{
	border: none;
	outline: none;
}

.quick-shop-res img{
	width: 100%;
	height: 100%;
}

.show-detail-quick-shop-res{
	width: 1000px;
	height: 250px;
}

.content-box-res{
	margin-top: 50px;
	line-height: 2;
	padding: 10px 20px;
}

.quantity{
	margin-top: 30px;
}

.content-box-res .input{
	margin-left: 50px;
}

.add-to-cart-box{
	margin-top: 50px;
}

.content-box-res .details-product{
	margin-top: 20px;
}

.content-box-res .details-product span{
	text-transform: capitalize;
}

.content-box-res .details-product span:hover .fa{
	transform: translateX(5px);
	transition: 0.4s ease-out;
}

.add-to-cart-box a.add-to-cart-btn {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #000000;
    padding: 10px 125px;
    display: inline-block;
    color: white;
}

.add-to-cart-box a.add-to-cart-btn:hover{
	text-decoration: none;
}


@media only screen and (max-width: 768px){
	.quick-shop-res img{
		width: 50%;
		height: 50%;
		margin: auto;
	}
	
	.content-box-res{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media only screen and (max-width: 991px){
	.quick-shop-res img{
		width: 65%;
		height: 65%;
		margin: auto;
	}

	.content-box-res{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}



/* end css hot product */

#homepage .view-more{
	left: 50%;
}

#homepage .view-button-box{
	display: flex;
	justify-content: center;
}


#homepage .view-more .view-button{
	color: #3A3939;
	font-size: 20px;
	font-weight: bold;
	border: 2px solid black;
	padding: 15px 80px;
	text-align: center;
	left: 50%;
}

#homepage .view-more .view-button:hover{
	text-decoration: none;
	color: white;
	background-color: black;
}

/* end css view more */

#homepage .feture-colect{
	width: 80vw;
	margin: auto;
}

#homepage .feture-colect .colect-title{
	border-bottom: 1px solid black;
	margin-bottom: 50px;
	margin-top: 30px;
	text-align: center;
}

#homepage .colect-title h3{
	display: inline-block;
	width: 380px;
	position: relative;
	top: 25px;
	background-color: white;
}

#homepage .colect-box{
	position: relative;
	border: none;
	outline: none;
	margin-bottom: 30px;
}

#homepage .colect-box:hover .colect-img{
	opacity: 0.9;
	transition: 0.3s;
}


#homepage .colect-box:hover .text{
	opacity: 1;
	visibility: visible;
	top: 50%;
}


#homepage .colect-box:hover a{
	text-decoration: none;
}


#homepage .colect-img{
	width: 100%;
	height: 100%; 
}

#homepage .colect-box .text{
	position: absolute;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	top: 80%;
	left: 50%;
	transform: translateX(-50%);
	transition: 0.4s ease-out;
	opacity: 0;
	visibility: hidden;
}

@media only screen and (max-width: 1200px){
	#homepage .feture-colect{
		width: 100vw;
		padding: 0px 25px;
	}
}

/* end css feature colect */

.khoi-footer{
	width: 100%;
	background-color: #1B1B1B;
}

.khoi-footer h4{
	text-transform: uppercase;
	color: white;
	padding-bottom: 10px;
}

.container.footer{
	padding: 50px 0px;
}

.khoi-dia-chi .logo{
	padding-bottom: 10px;
}

.khoi-dia-chi .map{
	width: 250px;
	height: 150px;
	display: block;
	padding-top: 20px;
	cursor: pointer;
}

.khoi-dia-chi p{
	font-size: 14px;
	color: #949494;
}

.khoi-dia-chi .fa{
	color: white;
}

.khoi-dia-chi a{
	color: #959595;
	font-size: 14px;
}

.khoi-dia-chi a:hover{
	text-decoration: none;
	color: #F2CD02;
	transition: 0.3s;
}

.khoi-thong-tin-huong-dan ul{
	list-style: none;
}

.khoi-thong-tin-huong-dan li{
	line-height: 2;
}

.khoi-thong-tin-huong-dan .fa{
	letter-spacing: 10px;
	color: #929292;
}

.khoi-thong-tin-huong-dan a{
	color: #929292;
	font-size: 14px;
}

.khoi-thong-tin-huong-dan a:hover{
	text-decoration: none;
	color: white;
	transition: 0.3s;
}

.khoi-thong-tin-huong-dan .list-follow{
	display: flex;
}

.khoi-thong-tin-huong-dan .list-follow ul{
	list-style: none;
}

.khoi-thong-tin-huong-dan .list-follow img{
	list-style: none;
	margin: 0px 4px;
}

.khoi-sp-yeu-thich{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.khoi-sp-yeu-thich ul{
	list-style: none;
}

.khoi-sp-yeu-thich b{
	color: white;
	font-size: 14px;
}

.khoi-sp-yeu-thich a{
	font-size: 14px;
	color: #8B8B8B;
}

.khoi-sp-yeu-thich a:hover{
	text-decoration: none;
	color: #F2CD02;
	transition: 0.3s;
}

.khoi-sp-yeu-thich span{
	color: #8B8B8B;
}


@media only screen and (max-width: 768px){
	.container.footer{
		padding: 20px 40px;
	}
}

/* end css footer */


/* ---------------------------------------------------PRODUCT DETAIL---------------------------------------------------------------------------- */



#product-detail .detail-box{
	width: 80vw;
}

#product-detail .card{
	border: none;
	outline: none;
}

#product-detail .slide-box{
	position: relative;
	width: 32rem;
	height: 35rem;	
}

@media only screen and (max-width: 1200px){
	#product-detail .detail-box{
		width: 100vw;
	}
}

@media only screen and (max-width: 991px){
	#product-detail .detail-box{
		width: 100vw;

	}
	#product-detail .slide-box{
		margin: auto;
	}

	#product-detail .move-slide{
		margin: auto;
	}
}

@media only screen and (max-width: 876px){
	#product-detail .detail-box{
		width: 100vw;
	}
}

@media only screen and (max-width: 576px){
	#product-detail .detail-box{
		width: 100vw;
		margin: 50px 0px;
		padding: 0px 0px;
	}

	#product-detail .slide-box{
		width: 25rem !important; 
		height: 26rem !important;	
	}

	#product-detail .slide-box .slide-inside figure, .slide-box .slide-inside img{
		width: 50%;
		height: 50%;
	}

	#product-detail .slide-box .slide-inside{
		width: 25rem !important;
		height: 26rem !important;
	}

	#product-detail .move-slide{
		width: 25rem !important; 
		height: 12rem !important;
	}

	#product-detail .move-slide ul{
		display: flex;
		justify-content: space-between;
		width: 25rem !important; 
		height: 4rem;
	}

	#product-detail .move-slide ul li{
		list-style: none;
		display: flex;
		width: 6rem !important;
		height: 4rem;
	}

}

#product-detail .slide-box .active-slide{
	opacity: 1;
	visibility: visible;
	transition: 0.4s ease-out;
}

#product-detail .slide-box ul li{
	position: absolute;
	list-style: none;
	opacity: 0;
	visibility: hidden;
}

#product-detail .slide-box .slide-inside{
	width: 32rem;
	height: 35rem;
}

#product-detail .slide-box .slide-inside figure, .slide-box .slide-inside img{
	width: 100%;
	height: 100%;
}

#product-detail figure.zoom {
  background-position: 50% 50%;
  position: relative;
  width: 500px;
  overflow: hidden;
  cursor: zoom-in;
}

#product-detail figure.zoom img:hover {
  opacity: 0;
}

#product-detail figure.zoom img {
  transition: opacity .5s;
  display: block;
  width: 100%;
}

#product-detail .move-slide{
	width: 32rem;
	height: 12rem;
}

#product-detail .move-slide ul{
	display: flex;
	justify-content: space-between;
	width: 32rem;
	height: 4rem;
}

#product-detail .move-slide ul li{
	list-style: none;
	display: flex;
	width: 7rem;
	height: 4rem;
}

#product-detail .move-slide .active{
	border: 1px solid #7A7070;
}

#product-detail .move-slide img{
	width: 100%;
	height: 100%;
	cursor: pointer;
}

/* end css slide-------- */

#product-detail .content-box-res-to-buy{
	margin-top: 100px;
	margin-left: 100px;
	line-height: 2;
	padding: 10px 20px;
}

#product-detail .quantity{
	margin-top: 30px;
}

#product-detail .content-box-res-to-buy .input{
	margin-left: 50px;
}

#product-detail .add-to-cart-box-to-buy{
	margin-top: 50px;
}

#product-detail .content-box-res-to-buy .details-product{
	margin-top: 20px;
}

#product-detail .content-box-res-to-buy .details-product span{
	text-transform: capitalize;
}

#product-detail .content-box-res-to-buy .details-product span:hover .fa{
	transform: translateX(5px);
	transition: 0.4s ease-out;
}

#product-detail .add-to-cart-box-two a.add-to-cart-btn-two {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #000000;
    padding: 10px 125px;
  	display: block;
  	text-align: center;
  	margin: auto;
    color: white;
}

#product-detail .add-to-cart-box-two a.add-to-cart-btn-two:hover{
	text-decoration: none;
}

@media only screen and (max-width: 999px){
	#product-detail .content-box-res-to-buy{
		line-height: 2;
		padding: 10px 10px;
		margin: 0px 10px;
	}

	#product-detail .add-to-cart-box-two a.add-to-cart-btn-two{
		 font-size: 12px;
		 padding: 10px 50px;
		 width: 80vw;
	}
}

@media only screen and (max-width: 876px){
	#product-detail .content-box-res-to-buy{
		padding: 10px 10px;
		margin: 0px 10px;
		line-height: 2;
	}

	#product-detail .add-to-cart-box-two a.add-to-cart-btn-two{
		 font-size: 12px;
		 padding: 10px 50px;
	}
}

@media only screen and (max-width: 576px){
	#product-detail .content-box-res-to-buy{
		padding: 10px 10px;
		margin: 0px 10px;
		line-height: 2;
	}
}

/* end css content slide */

#product-detail .description-product{
	background-color: #F4F4F4;
}

.descrip{
	background-color: transparent;
}

#product-detail .description-product .descrip-box{
	display: flex;
	justify-content: center;
}

#product-detail .description-product .desciption{
	margin: 20px 10px;
}

#product-detail .desciption .desciption-btn{
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px 17px;
	background-color: transparent;
	border: 1px solid black;
	outline: none;
}

#product-detail .active-des{
	background-color: black !important;
	color: white;
	transition: 0.3s;
}

#product-detail .desciption-product-box{
	width: 80vw;
	padding: 40px 0px;
}

#product-detail .iframe-ins{
	margin: 20px 0px;
}

#product-detail .table-descrip{
	display: flex;
	justify-content: space-between;
}

#product-detail .table-descrip b, span{
	font-size: 14px;
}

#product-detail .table-descrip .feature-product{
	float: right;
}

#product-detail .table-descrip ul{
	list-style: none;
}

#product-detail .contain-infor{
	display: none;
}

@media only screen and (max-width: 768px){
	#product-detail .iframe-ins{
		width: 550px;
		height: 400px;
	}
}

@media only screen and (max-width: 576px){
	#product-detail .iframe-ins{
		width: 400px;
		height: 360px;
	}
}

/* end css description */


/* --------------------------------------------------------------------CATEGORY--------------------------------------------------------- */



/* -------------------------------------------------------------LOGIN & REGISTER--------------------------------------------------------------- */

.form-to-login{
	width: 50vw;
	margin-top: 50px;
	margin-bottom: 50px;
}

.content-login{
	display: flex;
	padding: 12px 12px;
}

.content-login a{
	text-decoration: none;
	color: #4E4D4D;
	display: inline-block;
	margin: 5px 20px;
}

.content-login a:hover{
	color: #F4A528;
	transition: 0.4s;
}

@media only screen and (max-width: 768px){
	.form-to-login{
		width: 90vw;
	}
}


/* --------------------------------------------------------------CART---------------------------------------------------------------------------- */

#cart .cart-box{
	width: 80vw;
}

#cart .cart img{
	width: 150px;
	height: 170px;
}


#cart .cart h4{
	text-align: center;
}

#cart .cart .quantity-of-cart{
	width: 50px;
}

#cart .pay-to-cart{
	margin-top: 50px;
	margin-bottom: 50px;
}

@media only screen and (max-width: 1200px){
	#cart .cart-box{
		width: 100vw;
	}
}

@media only screen and (max-width: 768px){

	
	#cart .cart-box table td:nth-child(2), #cart .cart-box table th:nth-child(2){
		display: none;
	}
	
	#cart .cart-box table td:nth-child(3), #cart .cart-box table th:nth-child(3){
		display: none;
	}
}

/* ---------------------------------------------------------CHECK OUT--------------------------------------------------------------------------- */

#checkout .check-out{
	width: 85vw;
	margin: auto;
}

#checkout .infor-shipping{
	border-right: 2px solid #E1E1E1;
	margin-bottom: 50px;
}

#checkout .product-img img{
	width: 70px;
	height: 80px;
	padding: 10px 10px;
}

#checkout .product-img{
	border: 1px solid #E5E5E5;
	border-radius: 10px;
}

#checkout .cart-box{
	border-bottom: 1px solid #E1E1E1;
	margin-bottom: 20px;
}

#checkout .total-shipping{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #E1E1E1;
	padding-bottom: 20px;
}

#checkout .total-price{
	display: flex;
	justify-content: space-between;
	padding: 20px 0px;
}

#checkout .respond-to-details{
	margin: 20px 0px;
}

#checkout .respond-to-details{
	display: none;
}

#checkout .respond-to-details .price-product{
	float: right;
}

@media only screen and (max-width: 1200px){
	#checkout .check-out{
		width: 100vw;
		margin: auto;
	}
}


@media only screen and (max-width: 768px){
	#checkout .infor-product-cart{
		display: none;
	}

	#checkout .infor-shipping{
		border-right: none !important;
	}

	#checkout .respond-to-details{
		display: block;
	}
}

